# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties.bak

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Entorno / secretos  -> NUNCA subir credenciales al repo
.env
*.env
!.env.example

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/*.tfvars
!infra/terraform.tfvars.example
infra/.terraform.lock.hcl

# Logs
*.log
